body {
    background-color: grey;
    font-size: larger;
    font-family: 'Trebuchet MS';
}

h1 {
    color: silver;
    text-align: center;
}

h2 {
    color: tan;
    text-align: center;
}

p {
    color: ivory;
}

/* Navigointipalkin tyylinmuotoilut */
.topnav {
    background-color: rgb(26, 24, 24);
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 50px;
    text-decoration: none;
    font-size: 18px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: orangered;
    color: black;
}